body
{
  margin: 0;
  padding: 0;
  background-color: #121622;
  color: white;
  font-family: Source Sans Pro,sans-serif;
}

.header
{
  height: 40vh;
  padding-bottom: 20vh;
}

.parallax {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../league.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 22vh;
}

nav
{
  width: 100%;
  height: 8vh;
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0;
}

nav ul
{
  display: flex;
  margin: 0;
  padding-right: 5vh;
  padding-top: 1.7vh;
  float: right;
}


nav ul li
{
  list-style: none;
  height: 5vh;
}

nav ul li a#navbutton
{
  display: inline-block;
  color: #fff;
  padding: 0 2vw;
  text-decoration: none;
  font-weight: bold;
  line-height: 5vh;
  font-size: 2.2vh;
  transition-duration: 0.5s;
}

nav ul li a#navbutton:hover
{
  color: rgb(182, 23, 139);
  border-bottom: 0.2vh solid rgb(182, 23, 139);
  transition-duration: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.3);
  min-width: 15.3vh;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 0.4vh 2vh;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
  line-height: 3vh;
  font-size: 1.7vh;
  transition-duration: 0.5s;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(182, 23, 139);
}

.dropbtn {
  display: inline-block;
  color: #fff;
  padding: 0 2vw;
  text-decoration: none;
  font-weight: bold;
  line-height: 5vh;
  font-size: 2.2vh;
  transition-duration: 0.5s;
}

.dropbtn:hover {
  color: rgb(182, 23, 139);
  transition-duration: 0.5s;
}

.show { /* pro dro dropdown menu*/
  display: block;
}

.header-text
{
  margin: auto;
  width: 37vw;
  height: 30vh;
  text-align: center;
}


.header-text h1
{
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 9vh;
  letter-spacing: -0.2vh;
  text-transform: uppercase;
  color: #9c1c8d;
  text-shadow: 0 0.2vh 0 #ccc,
             0 0.3vh 0 #c9c9c9,
             0 0.2vh 0 #bbb,
             0 0.35vh 0 #b9b9b9,
             0 0.40vh 0 #aaa,
             0 0.45vh 0.2vh rgba(0,0,0,.1),
             0 0 0.4vh rgba(0,0,0,.1),
             0 0.2vh 0.25vh rgba(0,0,0,.3),
             0 0.25vh 0.4vh rgba(0,0,0,.2),
             0 0.4vh 0.55vh rgba(0,0,0,.25),
             0 0.55vh 0.55vh rgba(0,0,0,.2),
             0 0.75vh 0.75vh rgba(0,0,0,.15);
  transition-duration: 0.6s;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1vh #fff, 0 0 1.2vh #fff, 0 0 1.3vh #e60073, 0 0 1.4vh #e60073, 0 0 1.5vh #e60073, 0 0 1.6vh #e60073, 0 0 1.7vh #e60073;
  }
  to {
    text-shadow: 0 0 1vh #fff, 0 0 1.2vh #ff4da6, 0 0 1.3vh #ff4da6, 0 0 1.5vh #ff4da6, 0 0 1.6vh #ff4da6, 0 0 1.7vh #ff4da6, 0 0 1.8vh #ff4da6;
  }
}


/*h1:hover
{
  transition-duration: 0.6s;
  font-size: 10vh;
}
*/

.headerButtonDiv#jedna
{
  float: left;
  margin-left: 4vw;
}

.headerButtonDiv#dva
{
  float: right;
  margin-right: 4vw;
}

a.button
{
  text-decoration: none;
  display:inline-block;
  border:0.2vh solid #481349;
  border-radius: 2vh;
  box-sizing: border-box;
  display:inline-block;
  margin:0 0.2vh 0.2vh 0;
  width: 13vw;
  height: 6vh;
  padding-top: 1.7vh;
  color: #481349;
  font-weight: bold;
  letter-spacing: 0.1vh;
  font-size: 1.17vw;
  background: rgb(182, 23, 139);
  transition-duration: 0.6s;
}


a.button:hover
{
 transition-duration: 0.6s;
 background: #f13bce;
}

.content
{
  width: 50vw;
  margin: auto;
  padding-top: 10vh;
}

.content p
{
  text-align: justify;
  line-height: 1.625;
  color: #9494a4;
  font-size: 1.8vh;
}

footer {
  font-size: 1.4vh;
  color: #9494a4;
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 3vh;
}
